# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.factorypath

# Eclipse / STS
.springBeans
.sts4-cache
.apt_generated

# Logs
*.log

# OS
.DS_Store

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/